.jumbotron{
  margin-bottom: 0px;
  background: #039BE5;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.jumbotron .container-fluid{
    padding: 0px 150px;
}
.jumbotron p{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0 32px;
    max-width: 440px;
    font-weight: 400;
}
.jumbotron h2{
   margin-top: 0px;
   font-weight: 300; 
   font-size: 40px;
   letter-spacing: -0.01em;
   padding-top: 10px;
}
.jumbotron h4{
   font-weight: 300; 
   font-size: 20px;
}