<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://cuppalabs.github.io/img/coffee14.png" type="image/x-icon" />
  <title>Circular Fan Menu</title>
  <link href="https://cuppalabs.github.io/css/main.css" rel="stylesheet">
  <meta name="description" content="Cuppa Angular Fan Menu is an angular directive for cool menu componet for web and mobile , developed using `angularJS`, `CSS3`, `HTML5`.">
  <meta content='cool circular menu, circular menu, fan menu, circular fan menu' name='keywords' />
  <meta property="og:description" content="Cuppa Angular Fan Menu is an angular directive for cool menu componet for web and mobile , developed using `angularJS`, `CSS3`, `HTML5`." />
  <meta property="og:url" content="/components/fanmenu/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Circular Fan Menu" />
  <meta property="og:site_name" content="Cuppa Labs" />
  <meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
  <meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
  <meta property="article:tag" content="Angular 2" />
  <meta property="article:tag" content="html5" />
  <meta property="article:tag" content="css3" />
  <meta property="og:image" content="https://cuppalabs.github.io/img/components/fanmenu-thumbnail.png" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-example2" data-offset="60">

  <nav class="navbar navbar-expand-md top-navbar d-print-none">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cuppalabs.github.io/img/cuppa-logo-coffee11.png" height="32" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-navicon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://cuppalabs.github.io/components">Angular Components</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/tutorials">Tutorials</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/ng2-social-login">OAuth</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/aboutme">About Me</a>
        </li>
        <li class="nav-item">
          <button type="button" id="paypal-form" class="btn btn-primary donation-button" data-toggle="modal" data-target="#exampleModalLong">
            Donate 
          </button>
          <a id="insta-button" href="https://www.instamojo.com/@cuppalabs/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Donate"></a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/CuppaLabs">
                <i class="fa fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.facebook.com/cuppalabs">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://plus.google.com/102171107795347642020">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://twitter.com/PradeepTerli">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Donate and keep us going !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <form class="form-inline donate-form">

                <div class="col-md-8">
                  <label for="inlineFormInputName2">Amount</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter amount...">
                </div>
                <div class="col-md-4">
                  <label for="inlineFormInputName2">Currency</label>
                  <select class="form-control" id="donatecurrency">
                      <option value="USD">USD</option>
                      <option value="BRL">BRL</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label for="inlineFormInputName2">Email</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter email address...">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <div id="paypal-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <div class="container">

  <div class="row flex-xl-nowrap center-content">
    <div class="col col-md-12 col-lg-9 left-col">
      <div class="row component-headline">
        <div class="col-md-12 px-0">
        <div class="navbar">
          <div class="dropdown comp-list">
          <i class="fa fa-outdent comp-list" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled"><h6>All Components</h6></a>
             
  
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datepicker/">Angular 2 DateTime picker</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/multiselectDropdown/">MultiSelect Dropdown</a>
 
 
  
 
  
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/slidemenu/">Angular 2 Slide Menu</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datatable/">Angular 2 Data Table</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/fanmenu/">Circular Fan Menu</a>
 
 
  
 
  
 
  
 
  
 
  
 
  
 
  

          </div>
        </div>
          <h4 class="mr-md-auto component-title">Circular Fan Menu</h4>
          <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt share-btn"></i>
            </a>
              <div class="dropdown-menu">
                <h6 class="pt-2 pb-1 pr-3 pl-3">Share on</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/fanmenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
                <a class="dropdown-item" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/fanmenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
                <a class="dropdown-item" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/fanmenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
                <a class="dropdown-item" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/fanmenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-google"></i>
              </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://cuppalabs.github.io/angular-fan-menu" target="_blank">
                Live Demos
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://cuppalabs.github.io/angular-fan-menu" target="_blank">
                <i class="fa fa-tv  share-btn"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://github.com/CuppaLabs/angular-fan-menu" target="_blank">
                Code on Github
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://github.com/CuppaLabs/angular-fan-menu" target="_blank">
                <i class="fa fa-download  share-btn"></i>
            </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 sidebar-offcanvas sidebar d-none d-md-non d-lg-block" id="sidebar">
          <div class="list-group" id="navbar-example2">
            <a href="#" class="list-group-item disabled">
              <h6>Table of Contents</h6>
            </a>
            
            <a href="#Overview" class="list-group-item">Overview</a> 
            <a href="#Features" class="list-group-item">Features</a> 
            <a href="#Getting Started" class="list-group-item">Getting Started</a> 
            <a href="#Installation" class="list-group-item">Installation</a> 
            <a href="#Basic Usage" class="list-group-item">Basic Usage</a> 
            <a href="#API Documentation" class="list-group-item">API Documentation</a> 
            <a href="#Directive Configuration" class="list-group-item">Directive Configuration</a> 
            <a href="#Config Object Properties" class="list-group-item">Config Object Properties</a> 
            <a href="#Data Array" class="list-group-item">Data Array</a> 
            <a href="#Data Object Properties" class="list-group-item">Data Object Properties</a> 
            <a href="#Build & development" class="list-group-item">Build & development</a> 

          </div>
        </div>
        <div class="col-md-12 col-lg-9">

          <div class="row component-article">
            <div class="col component-image">
              <img class="img-fluid" src="https://cuppalabs.github.io/img/components/fanmenu-thumbnail.png" />
            </div>

          </div>
          <div class="row component-article">
            <h3 id="overview">Overview</h3>

<p>Cuppa Angular Fan Menu is an <code class="highlighter-rouge">angular 1 directive</code> for cool menu componet for web and mobile, developed using <code class="highlighter-rouge">angularJS</code>, <code class="highlighter-rouge">CSS3</code>, <code class="highlighter-rouge">HTML5</code>.</p>

<h3 id="features">Features</h3>
<ul>
  <li>Highly Configurable directive properties and methods</li>
  <li>Draggable</li>
  <li>Touch enabled</li>
  <li>Cool fan effect transitions</li>
</ul>

<h3 id="getting-started">Getting Started</h3>

<h3 id="installation">Installation</h3>

<ul>
  <li>
    <p>Install with <a href="https://www.npmjs.com">npm</a>: <code class="highlighter-rouge">npm install cuppa-angular-datepicker</code>.</p>

    <p>Or</p>
  </li>
  <li>
    <p><code class="highlighter-rouge">Clone</code> this repository and setup with the below instructions.</p>
  </li>
</ul>

<h3 id="basic-usage">Basic Usage</h3>

<p>Include <code class="highlighter-rouge">circularmenu-directive.js</code> directive at the bottom of your page or in the <code class="highlighter-rouge">&lt;head&gt;</code> section.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"circularmenu-directive.js"</span> <span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;&lt;/script&gt;</span>
</code></pre>
</div>

<p>Initialize the directive by adding the directive name as a dependency to your app controller and declare the config object and menu items model as follows</p>

<div class="language-js highlighter-rouge"><pre class="highlight"><code>
<span class="nx">angular</span>
  <span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'demoApp'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'circularMenu-directive'</span><span class="p">])</span>
  <span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'demoController'</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">){</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">menuConfig</span> <span class="o">=</span> <span class="p">{</span>
      <span class="s2">"buttonWidth"</span><span class="p">:</span> <span class="mi">60</span><span class="p">,</span>
      <span class="s2">"menuRadius"</span><span class="p">:</span> <span class="mi">160</span><span class="p">,</span>
      <span class="s2">"color"</span><span class="p">:</span> <span class="s2">"#ff7f7f"</span><span class="p">,</span>
      <span class="s2">"offset"</span><span class="p">:</span><span class="mi">25</span><span class="p">,</span>
      <span class="s2">"textColor"</span><span class="p">:</span> <span class="s2">"#ffffff"</span><span class="p">,</span>
      <span class="s2">"showIcons"</span><span class="p">:</span><span class="kc">false</span><span class="p">,</span>
      <span class="s2">"gutter"</span><span class="p">:</span> <span class="p">{</span>
        <span class="s2">"top"</span><span class="p">:</span> <span class="mi">130</span><span class="p">,</span>
        <span class="s2">"right"</span><span class="p">:</span> <span class="mi">30</span><span class="p">,</span>
        <span class="s2">"bottom"</span><span class="p">:</span> <span class="mi">30</span><span class="p">,</span>
        <span class="s2">"left"</span><span class="p">:</span> <span class="mi">30</span>
      <span class="p">},</span>
      <span class="s2">"angles"</span><span class="p">:</span> <span class="p">{</span>
        <span class="s2">"topLeft"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
        <span class="s2">"topRight"</span><span class="p">:</span> <span class="mi">90</span><span class="p">,</span>
        <span class="s2">"bottomRight"</span><span class="p">:</span> <span class="mi">180</span><span class="p">,</span>
        <span class="s2">"bottomLeft"</span><span class="p">:</span> <span class="mi">270</span>
      <span class="p">}</span>
    <span class="p">};</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">menuItems</span> <span class="o">=</span> <span class="p">[{</span>
      <span class="s2">"title"</span><span class="p">:</span> <span class="s2">"iPad"</span><span class="p">,</span>
      <span class="s2">"color"</span><span class="p">:</span> <span class="s2">"#ea2a29"</span><span class="p">,</span>
      <span class="s2">"rotate"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"show"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"titleColor"</span><span class="p">:</span> <span class="s2">"#fff"</span><span class="p">,</span>
      <span class="s2">"icon"</span><span class="p">:{</span><span class="s2">"color"</span><span class="p">:</span><span class="s2">"#fff"</span><span class="p">,</span><span class="s2">"name"</span><span class="p">:</span><span class="s2">"fa fa-tablet"</span><span class="p">,</span><span class="s2">"size"</span><span class="p">:</span> <span class="mi">35</span><span class="p">}</span>
    <span class="p">},</span> <span class="p">{</span>
      <span class="s2">"title"</span><span class="p">:</span> <span class="s2">"iMac"</span><span class="p">,</span>
      <span class="s2">"color"</span><span class="p">:</span> <span class="s2">"#f16729"</span><span class="p">,</span>
      <span class="s2">"rotate"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"show"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"titleColor"</span><span class="p">:</span> <span class="s2">"#fff"</span><span class="p">,</span>
      <span class="s2">"icon"</span><span class="p">:{</span><span class="s2">"color"</span><span class="p">:</span><span class="s2">"#fff"</span><span class="p">,</span><span class="s2">"name"</span><span class="p">:</span><span class="s2">"fa fa-laptop"</span><span class="p">,</span><span class="s2">"size"</span><span class="p">:</span> <span class="mi">30</span><span class="p">}</span>
    <span class="p">},</span> <span class="p">{</span>
      <span class="s2">"title"</span><span class="p">:</span> <span class="s2">"iPhone"</span><span class="p">,</span>
      <span class="s2">"color"</span><span class="p">:</span> <span class="s2">"#f89322"</span><span class="p">,</span>
      <span class="s2">"rotate"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"show"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"titleColor"</span><span class="p">:</span> <span class="s2">"#fff"</span><span class="p">,</span>
      <span class="s2">"icon"</span><span class="p">:{</span><span class="s2">"color"</span><span class="p">:</span><span class="s2">"#fff"</span><span class="p">,</span><span class="s2">"name"</span><span class="p">:</span><span class="s2">"fa fa-mobile"</span><span class="p">,</span><span class="s2">"size"</span><span class="p">:</span> <span class="mi">30</span><span class="p">}</span>
    <span class="p">},</span> <span class="p">{</span>
      <span class="s2">"title"</span><span class="p">:</span> <span class="s2">"iWatch"</span><span class="p">,</span>
      <span class="s2">"color"</span><span class="p">:</span> <span class="s2">"#ffcf14"</span><span class="p">,</span>
      <span class="s2">"rotate"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"show"</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
      <span class="s2">"titleColor"</span><span class="p">:</span> <span class="s2">"#fff"</span><span class="p">,</span>
      <span class="s2">"icon"</span><span class="p">:{</span><span class="s2">"color"</span><span class="p">:</span><span class="s2">"#fff"</span><span class="p">,</span><span class="s2">"name"</span><span class="p">:</span><span class="s2">"fa fa-clock-o"</span><span class="p">,</span><span class="s2">"size"</span><span class="p">:</span> <span class="mi">30</span><span class="p">}</span>
    <span class="p">}];</span>
  <span class="p">})</span>

</code></pre>
</div>

<p>Add the directive attribute and the corresponding config attributes to the html template or page of your app.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>
 <span class="nt">&lt;div</span> <span class="na">drag-circular-menu</span> 
     <span class="na">angle=</span><span class="s">"30"</span> 
     <span class="na">placement=</span><span class="s">"topLeft"</span> 
     <span class="na">button-config=</span><span class="s">"menuConfig"</span> 
     <span class="na">menu-items=</span><span class="s">"menuItems"</span> 
     <span class="na">default-open=</span><span class="s">"true"</span>
     <span class="na">onwing-click=</span><span class="s">"onWingClick1(wing)"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/div&gt;</span>

</code></pre>
</div>
<h3 id="api-documentation">API Documentation</h3>

<h3 id="directive-configuration">Directive Configuration</h3>

<p>Once the directive attribute is added to the element, it can be configured with the following configuration attributes.</p>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Attribute</th>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Required</th>
      <th style="text-align: left">Default</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">drag-circular-menu</code></td>
      <td style="text-align: left">attribute</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">''</code></td>
      <td style="text-align: left">Directive attribute to be defined on an element to initialize.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">angle</code></td>
      <td style="text-align: left">string</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">30</code></td>
      <td style="text-align: left">The angle at which the menu wings open when clicked.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">placement</code></td>
      <td style="text-align: left">string</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">topLeft</code></td>
      <td style="text-align: left">Position at the which the menu appears on load. Possible values are <code class="highlighter-rouge">topLeft</code>, <code class="highlighter-rouge">topRight</code>, <code class="highlighter-rouge">bottomLeft</code>,<code class="highlighter-rouge">bottomRight</code></td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">button-config</code></td>
      <td style="text-align: left">Object</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">None</code></td>
      <td style="text-align: left">Menu button configuration Object. Set of button properties to be defined. Refer to Config Object Section below for details.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">menu-items</code></td>
      <td style="text-align: left">Array [Object]</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">none</code></td>
      <td style="text-align: left">Array of menu item objects. Each menu is an object. Refer to the Data Array - Menu Item Object Properties below for details.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">default-open</code></td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">''</code></td>
      <td style="text-align: left">Open menu automatically on load.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">onwing-click</code></td>
      <td style="text-align: left">Method</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left"><code class="highlighter-rouge">''</code></td>
      <td style="text-align: left">Callback on menu item wing cicked.</td>
    </tr>
  </tbody>
</table>

<h3 id="config-object-properties">Config Object Properties</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Required</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">buttonWidth</code></td>
      <td style="text-align: left">Number</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Width of the menu button.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">menuRadius</code></td>
      <td style="text-align: left">Number</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">The radius of the menu wings from the center of the button.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">color</code></td>
      <td style="text-align: left">Hex Code</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Button color. Hex color code.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">offset</code></td>
      <td style="text-align: left">Number</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">The gap between the menu button and the menu item wings.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">textColor</code></td>
      <td style="text-align: left">Hex Code</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Button text color. Hex color code.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">showIcons</code></td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">To show or hide icons along with the text in menu item wing.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">gutter</code></td>
      <td style="text-align: left">Object</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">The space between the menu and the bounderies of the page window. The object can have four properties <code class="highlighter-rouge">left</code>, <code class="highlighter-rouge">right</code>, <code class="highlighter-rouge">top</code>, <code class="highlighter-rouge">bottom</code> with values to be defined in Number</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">angles</code></td>
      <td style="text-align: left">Object</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">The angle at which the menu opens when clicked. It can be configured to open at different angles when placed at different places. The value of the angle can be a number between 0 -360</td>
    </tr>
  </tbody>
</table>

<h3 id="data-array">Data Array</h3>

<ul>
  <li>
    <p>menuItems  - Arryay [menuObject]</p>
  </li>
  <li>
    <p>menuObject {} properties</p>
  </li>
</ul>

<h3 id="data-object-properties">Data Object Properties</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Required</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">title</code></td>
      <td style="text-align: left">String</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Title of the menu item.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">color</code></td>
      <td style="text-align: left">Hex Code</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Background color of the wing.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">rotate</code></td>
      <td style="text-align: left">Number</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Initial angle of the wing. Default to Zero.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">show</code></td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Show or hide the wing.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">titleColor</code></td>
      <td style="text-align: left">Hex Code</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Text color of the title.</td>
    </tr>
    <tr>
      <td style="text-align: left"><code class="highlighter-rouge">icon</code></td>
      <td style="text-align: left">Object</td>
      <td style="text-align: left">YES</td>
      <td style="text-align: left">Icon object properties. {“color”:”#fff”,”name”:”fa fa-tablet”,”size”: 35}</td>
    </tr>
  </tbody>
</table>

<h3 id="build--development">Build &amp; development</h3>

<p>If you want develope and build on this component, there are some quick steps for that.</p>

<ul>
  <li><code class="highlighter-rouge">clone</code> the git repository to your local</li>
  <li>run <code class="highlighter-rouge">npm install</code> to download and install all the development dependencies.</li>
  <li>run <code class="highlighter-rouge">bowerinstall</code> to download all the front end developemnt dependencies.</li>
  <li>run <code class="highlighter-rouge">grunt serve</code> to start the server and get the app up and running. It automatically opens a browser window instance, with the app     runnning.</li>
  <li>run <code class="highlighter-rouge">grunt build</code> to generate production ready code in dist folder.</li>
</ul>

<h3 id="licence">Licence</h3>

<p>This project is licensed under the MIT license. See the <a href="LICENSE">LICENSE</a> file for more info.</p>

<p>–</p>

<p>The MIT License (MIT)
Copyright (c) 2016 Cuppa Labs</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the “Software”), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>

<h2 id="credits">Credits</h2>
<p>Thanks to Font Awesome the library.</p>

<h2 id="author">Author</h2>
<p>Pradeep Kumar Terli</p>


          </div>
          <!--/row-->
          <div class="comments-section">

            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "/components/fanmenu/";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "Circular Fan Menu"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//cuppalabs.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>

          </div>
        </div>
      </div>

    </div>
    <!--/span-->
    <div class="col d-none d-md-block sidebar ad-sidebar">
      <div class="row component-headline">
    <div class="col-md-12 stats-section">
        <div class="navbar">
            <div class="col">
                <i class="fa fa-download"></i>
                <div class="mr-md-auto component-title">
                    <h4 id="cuppa-angular-menu"><img style="width:45px;" src="/img/ezgif.gif" /></h4>
                    <small>Downloads</small>
                </div>
            </div>
            <div class="col">
                <a href="#" class="nav-item nav-link author-button" id="userPopover">
                <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="avatar-img img-me"> 
                <div class="mini-details">
                <small>Author</small>
                <label>Pradeep Terli</label>
                </div>
            </a>
            </div>
        </div>
    </div>

</div>
<span style="display: none;">
<div id="authorCard">
<div class="card bg-default mb-3 user-card" style="max-width: 20rem;">
             <div class="card-header"></div>
            <div class="card-body">
              <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="img-me">
              <h5 class="card-title">Pradeep Kumar Terli</h5>
              <p class="card-text">
                Web UI Developer, Blogger, Thinker, Entrepreneur
              </p>
              <nav class="nav">
                <a class="nav-link active" href="https://www.facebook.com/pradeepkumar.terli">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-link" href="https://twitter.com/PradeepTerli">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="nav-link" href="https://github.com/CuppaLabs">
                  <i class="fa fa-github"></i>
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="nav-link" href="https://plus.google.com/102171107795347642020">
                  <i class="fa fa-google-plus"></i>
                </a>
              </nav>
            </div>
          </div>
          </div>
</span>
      <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pradeepterli_sidebar_AdSense1_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="2263435109"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>


<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-two -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="8850561506"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
    </div>
    <script>
  $(function() {
    var currentTime = toJSONLocal(new Date);
  $.ajax({
  method: "GET",
  url: "https://npm-stat.com/downloads/range/2016-11-01:"+currentTime+"/cuppa-angular-menu"
})
  .done(function( data ) {
    var total = 0;
    $.each(data.downloads, function(key, obj){
      total += obj.downloads
    });
    $("#cuppa-angular-menu").empty().html(numberWithCommas(total));
  });
  });


</script>
<script>
  $(function () {
    var options = {
    html: true,
    placement: 'bottom',
    trigger: 'hover',
    content: function (){
      return $('#authorCard').html();
    }

  };
  $('#userPopover').popover(options)
})
  </script>
    <!--/span-->
  </div>
  <!--/row-->

  <footer class="footer">
    <p>© 2009-2017 &nbsp <a href="https://cuppalabs.github.io" style="color: #fff;font-size: 16px;">Cuppa Labs</a> &nbsp <b>Made in India</b>.
      All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
    $(function () {
      return $(".component-article h1, .component-article h2, .component-article h3, .component-article h4, .component-article h5, .component-article h6").each(function (i, el) {
        var $el, icon, id, val;
        $el = $(el);
        val = $(el).html().split(' ').join('-');
        id = $el.attr('id', val);
        if (id) {
          return $el;
        }
      });
    });
    $(function () {
      return $("#navbar-example2 > a").each(function (i, el) {
        var $el, icon, id, val;
        $el = $(el);
        val = '#' + $(el).html().split(' ').join('-');
        id = $el.attr('href', val);
        if (id) {
          return $el;
        }
      });
    });
    $(function () {
      return $("table").each(function (i, el) {
        var $el, icon, id;
        $el = $(el);
        $el.addClass('table table-bordered table-responsive');
      });
    });
    function toJSONLocal(date) {
      var local = new Date(date);
      local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    }
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  </script>
  <script>
    (function (i, s, o, g, r, a, m) {    
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93566400-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="https://js.instamojo.com/v1/button.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <script>
    paypal.Button.render({

      env: 'sandbox', // sandbox | production

      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create
      client: {
        sandbox: 'ASrA_m_vzFgS5z-H54iD_PTYGhKj_kRB5soHsPcnq_n6Qv1bLpr5MWxSmmS8kZUlmtPTRPVYSC6ZD6Fe'
      },
      style: {
        size: 'responsive',
        color: 'blue',
        label: 'pay'
      },

      // Show the buyer a 'Pay Now' button in the checkout flow
      commit: true,

      // payment() is called when the button is clicked
      payment: function (data, actions) {
        var amount = document.getElementById("donateamount").value;
        var currency = document.getElementById("donatecurrency").value;
        // Make a call to the REST api to create the payment
        if (amount == null || currency == null) {
          return false;
        }
        return actions.payment.create({
          payment: {
            transactions: [
              {
                amount: { total: amount, currency: currency }
              }
            ]
          }
        });
      },

      // onAuthorize() is called when the buyer approves the payment
      onAuthorize: function (data, actions) {

        // Make a call to the REST api to execute the payment
        return actions.payment.execute().then(function () {
          window.alert('Payment Complete!');
        });
      }

    }, '#paypal-button');
  </script>
  <script>
    $(document).ready(function () {
      $.getJSON('http://freegeoip.net/json/', function (result) {
        if (result.country_code === "IN") {
          $("#paypal-form").hide();
          $('.im-checkout > a').attr("class","");
          $('.im-checkout > a').attr("class","btn btn-primary donation-button");
          $(".im-checkout").show();
        }
        else{
          $("#paypal-form").show();
          $(".im-checkout").hide();
        }
      });
    });
  </script>
</body>

</html>