<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://cuppalabs.github.io/img/coffee14.png" type="image/x-icon" />
  <title>Angular 2 Slide Menu</title>
  <link href="https://cuppalabs.github.io/css/main.css" rel="stylesheet">
  <meta name="description" content="An angular 2 slide navigation menu component for mobile and web.Hamburger kind of menu for mobile and web is very common feature and a must have as well, these days.">
  <meta content='angular 2 menu, angular 2 slide menu, angular2 left slide menu, angular 2 hamburger menu' name='keywords' />
  <meta property="og:description" content="An angular 2 slide navigation menu component for mobile and web.Hamburger kind of menu for mobile and web is very common feature and a must have as well, these days." />
  <meta property="og:url" content="/components/slidemenu/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Angular 2 Slide Menu" />
  <meta property="og:site_name" content="Cuppa Labs" />
  <meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
  <meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
  <meta property="article:tag" content="Angular 2" />
  <meta property="article:tag" content="html5" />
  <meta property="article:tag" content="css3" />
  <meta property="og:image" content="https://cuppalabs.github.io/img/components/slidemenu-thumbnail.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-example2" data-offset="60">

  <nav class="navbar navbar-expand-md top-navbar d-print-none">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cuppalabs.github.io/img/cuppa-logo-coffee11.png" height="32" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-navicon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://cuppalabs.github.io/components">Angular Components</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/tutorials">Tutorials</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/ng2-social-login">OAuth</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/aboutme">About Me</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary donation-button" data-toggle="modal" data-target="#exampleModalLong">
            Donate 
          </button>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/CuppaLabs">
                <i class="fa fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.facebook.com/cuppalabs">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://plus.google.com/102171107795347642020">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://twitter.com/PradeepTerli">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Donate and keep us going !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <form class="form-inline donate-form">

                <div class="col-md-8">
                  <label for="inlineFormInputName2">Amount</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter amount...">
                </div>
                <div class="col-md-4">
                  <label for="inlineFormInputName2">Currency</label>
                  <select class="form-control" id="donatecurrency">
                      <option value="USD">USD</option>
                      <option value="INR">INR</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label for="inlineFormInputName2">Email</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter email address...">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <div id="paypal-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
  
  <div class="container">

  <div class="row flex-xl-nowrap center-content">
    <div class="col col-md-12 col-lg-9 left-col">
      <div class="row component-headline">
        <div class="col-md-12 px-0">
        <div class="navbar">
          <div class="dropdown comp-list">
          <i class="fa fa-outdent comp-list" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled"><h6>All Components</h6></a>
             
  
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datepicker/">Angular 2 DateTime picker</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/multiselectDropdown/">MultiSelect Dropdown</a>
 
 
  
 
  
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/slidemenu/">Angular 2 Slide Menu</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datatable/">Angular 2 Data Table</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/fanmenu/">Circular Fan Menu</a>
 
 
  
 
  
 
  
 
  
 
  
 
  
 
  

          </div>
        </div>
          <h4 class="mr-md-auto component-title">Angular 2 Slide Menu</h4>
          <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt share-btn"></i>
            </a>
              <div class="dropdown-menu">
                <h6 class="pt-2 pb-1 pr-3 pl-3">Share on</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/slidemenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
                <a class="dropdown-item" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/slidemenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
                <a class="dropdown-item" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/slidemenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
                <a class="dropdown-item" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/slidemenu/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-google"></i>
              </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://cuppalabs.github.io/cuppa-ng2-slidemenu" target="_blank">
                Live Demos
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://cuppalabs.github.io/cuppa-ng2-slidemenu" target="_blank">
                <i class="fa fa-tv  share-btn"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://github.com/CuppaLabs/cuppa-ng2-slidemenu" target="_blank">
                Code on Github
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://github.com/CuppaLabs/cuppa-ng2-slidemenu" target="_blank">
                <i class="fa fa-download  share-btn"></i>
            </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 sidebar-offcanvas sidebar d-none d-md-non d-lg-block" id="sidebar">
          <div class="list-group" id="navbar-example2">
            <a href="#" class="list-group-item disabled">
              <h6>Table of Contents</h6>
            </a>
            
            <a href="#Overview" class="list-group-item">Overview</a> 
            <a href="#Getting Started" class="list-group-item">Getting Started</a> 
            <a href="#Installation" class="list-group-item">Installation</a> 
            <a href="#Usage" class="list-group-item">Usage</a> 
            <a href="#Configuration Settings" class="list-group-item">Configuration Settings</a> 
            <a href="#Callback API" class="list-group-item">Callback API</a> 
            <a href="#Dependencies" class="list-group-item">Dependencies</a> 

          </div>
        </div>
        <div class="col-md-12 col-lg-9">

          <div class="row component-article">
            <div class="col component-image">
              <img class="img-fluid" src="https://cuppalabs.github.io/img/components/slidemenu-thumbnail.png" />
            </div>

          </div>
          <div class="row component-article">
            <h3 id="overview">Overview</h3>

<p>Hamburger menu for mobile and web is very common feature and a must have in app development.
An angular 2 slide navigation menu component for mobile and web. Hamburger kind of menu for mobile and web is very common feature and a must have as well, these days.</p>

<h2 id="getting-started">Getting Started</h2>

<h3 id="installation">Installation</h3>
<ul>
  <li>The Slide menu package is published on the <a href="https://www.npmjs.com/package/cuppa-ng2-slidemenu">npm</a> Registry.</li>
  <li>
    <p>Install the package :
  <code class="highlighter-rouge">npm install cuppa-ng2-slidemenu</code></p>
  </li>
  <li>Once installed import <code class="highlighter-rouge">SlideMenuModule</code> from the installed package into your module as follows:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">import</span> <span class="p">{</span> <span class="nx">SlideMenuModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'cuppa-ng2-slidemenu/cuppa-ng2-slidemenu'</span><span class="p">;</span>
</code></pre>
</div>

<h3 id="usage">Usage</h3>

<ul>
  <li>Import the <code class="highlighter-rouge">SlideMenuModule</code> in your <code class="highlighter-rouge">ngModule</code> as follows:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">import</span> <span class="p">{</span> <span class="nx">NgModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'@angular/core'</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">BrowserModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'@angular/platform-browser'</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">SlideMenuModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'cuppa-ng2-slidemenu/cuppa-ng2-slidemenu'</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">AppComponent</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'./app.component'</span><span class="p">;</span>

<span class="err">@</span><span class="nx">NgModule</span><span class="p">({</span>
   <span class="na">bootstrap</span><span class="p">:</span> <span class="p">[</span> <span class="nx">AppComponent</span> <span class="p">],</span>
   <span class="na">declarations</span><span class="p">:</span> <span class="p">[</span><span class="nx">AppComponent</span><span class="p">],</span>
   <span class="na">imports</span><span class="p">:</span> <span class="p">[</span><span class="nx">SlideMenuModule</span><span class="p">]</span> <span class="c1">// Import SlideMenu module variable here </span>
<span class="p">})</span>
<span class="kr">export</span> <span class="kr">class</span> <span class="nx">AppModule</span> <span class="p">{</span>
<span class="p">}</span>
</code></pre>
</div>
<ul>
  <li>Place the component html tag in the template where the hamburger menu needs to be rendered.</li>
</ul>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="nt">&lt;cuppa-slidemenu</span> <span class="err">[</span><span class="na">menulist</span><span class="err">]="</span><span class="na">menuItemsArray</span><span class="err">"</span> <span class="err">(</span><span class="na">open</span><span class="err">)="</span><span class="na">onMenuOpen</span><span class="err">()"</span> <span class="err">(</span><span class="na">close</span><span class="err">)="</span><span class="na">onMenuClose</span><span class="err">()"</span> <span class="err">(</span><span class="na">onItemSelect</span><span class="err">)="</span><span class="na">onItemSelect</span><span class="err">($</span><span class="na">event</span><span class="err">)"</span><span class="nt">&gt;&lt;/cuppa-slidemenu&gt;</span>
</code></pre>
</div>

<ul>
  <li>Component requires a <code class="highlighter-rouge">menulist</code> to pass data as array of objects to the component, as follows:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">private</span> <span class="nx">menuItemsArray</span><span class="err">:</span> <span class="nx">any</span><span class="p">[]</span> <span class="o">=</span> <span class="p">[</span> 
       <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Electricity"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
       <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Mobile Bill"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
       <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Home and Kitchen"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">,</span>
       <span class="s2">"subItems"</span><span class="p">:[</span>
                   <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Furniture"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
                   <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Cookware"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
                  <span class="p">]</span>
       <span class="p">},</span>
       <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Car and Bike Accessories"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">,</span>
        <span class="s2">"subItems"</span><span class="p">:[</span>
                     <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Tyres and Alloys"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
                     <span class="p">{</span><span class="s2">"title"</span><span class="p">:</span><span class="s2">"Comfort and Safety"</span><span class="p">,</span><span class="s2">"link"</span><span class="p">:</span><span class="s2">"#"</span><span class="p">},</span>
                    <span class="p">]</span>
       <span class="p">},</span>
 <span class="p">];</span>

  <span class="kr">public</span> <span class="nx">onMenuClose</span><span class="p">(){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">"menu closed"</span><span class="p">);</span>
  <span class="p">}</span>
  <span class="kr">public</span> <span class="nx">onMenuOpen</span><span class="p">(){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">"menu Opened"</span><span class="p">);</span>
  <span class="p">}</span>
  <span class="kr">private</span> <span class="nx">onItemSelect</span><span class="p">(</span><span class="nx">item</span><span class="err">:</span><span class="nx">any</span><span class="p">){</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">item</span><span class="p">);</span>
  <span class="p">}</span>
</code></pre>
</div>
<h3 id="configuration-settings">Configuration Settings</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: left">type</th>
      <th style="text-align: left">description</th>
      <th style="text-align: left">default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">animation</td>
      <td style="text-align: left">string</td>
      <td style="text-align: left">name of the hamburger animation. Refer to the below list of supported animation types</td>
      <td style="text-align: left">collapse</td>
    </tr>
    <tr>
      <td style="text-align: left">offset</td>
      <td style="text-align: left">object “offset”: {“top”: 55}</td>
      <td style="text-align: left">The offset value of the menu from top, left, right and bottom</td>
      <td style="text-align: left">0</td>
    </tr>
    <tr>
      <td style="text-align: left">closeOnCLick</td>
      <td style="text-align: left">boolean</td>
      <td style="text-align: left">To close the menu as soo as an item is selected.</td>
      <td style="text-align: left">false</td>
    </tr>
  </tbody>
</table>

<p>Supported animations list :</p>
<ul>
  <li>3dx</li>
  <li>3dx-r</li>
  <li>3dy</li>
  <li>3dy-r</li>
  <li>3dxy</li>
  <li>3dxy-r</li>
  <li>arrow</li>
  <li>arrow-r</li>
  <li>arrowalt</li>
  <li>arrowalt-r</li>
  <li>arrowturn</li>
  <li>arrowturn-r</li>
  <li>boring</li>
  <li>collapse</li>
  <li>collapse-r</li>
  <li>elastic</li>
  <li>elastic-r</li>
  <li>emphatic</li>
  <li>emphatic-r</li>
  <li>minus</li>
  <li>slider</li>
  <li>slider-r</li>
  <li>spin</li>
  <li>spin-r</li>
  <li>spring</li>
  <li>spring-r</li>
  <li>stand</li>
  <li>stand-r</li>
  <li>squeeze</li>
  <li>vortex</li>
  <li>vortex-r</li>
</ul>

<h3 id="callback-api">Callback API</h3>

<ul>
  <li><code class="highlighter-rouge">onMenuClose()</code> - This method is triggered when menu is closed.</li>
  <li><code class="highlighter-rouge">onMenuOpen()</code> - Triggered when menu is opened.</li>
  <li><code class="highlighter-rouge">onItemSelect(item:any)</code> - Triggered when a menu item is selected. Returns the selected menu item object.</li>
</ul>

<h3 id="dependencies">Dependencies</h3>
<ul>
  <li><code class="highlighter-rouge">Font-awesome</code> is required for the icons in component.</li>
</ul>

<p>Thats all Folks !! You are good to go.</p>

<h3 id="view-the-demo-here">View the <a href="https://cuppalabs.github.io/cuppa-ng2-slidemenu/">Demo here</a>.</h3>

<p>Please raise any issues <a href="https://github.com/CuppaLabs/cuppa-ng2-slidemenu/issues">here</a></p>

<p>To run the code and build in your local, follw the below steps</p>

<ul>
  <li>git clone <code class="highlighter-rouge">https://github.com/CuppaLabs/cuppa-ng2-slidemenu.git</code></li>
  <li>npm install</li>
  <li>ng serve</li>
  <li>Go to <code class="highlighter-rouge">http://localhost:4200</code> where your app will run.</li>
</ul>

<h3 id="credits">Credits</h3>
<p>Thanks to font awesome for the wonderful font icons.</p>

<h2 id="licence">Licence</h2>

<p>This project is licensed under the MIT license. See the <a href="LICENSE">LICENSE</a> file for more info.</p>

<p>–</p>

<p>The MIT License (MIT)
Copyright (c) 2016 Cuppa Labs</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the “Software”), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>

<h2 id="author">Author</h2>
<p>Pradeep Kumar Terli  @ <a href="http://www.cuppalabs.com">Cuppa Labs</a></p>


          </div>
          <!--/row-->
          <div class="comments-section">

            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "/components/slidemenu/";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "Angular 2 Slide Menu"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//cuppalabs.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>

          </div>
        </div>
      </div>

    </div>
    <!--/span-->
    <div class="col d-none d-md-block sidebar ad-sidebar">
      <div class="row component-headline">
    <div class="col-md-12 stats-section">
        <div class="navbar">
            <div class="col">
                <i class="fa fa-download"></i>
                <div class="mr-md-auto component-title">
                    <h4 id="cuppa-ng2-slidemenu"><img style="width:45px;" src="/img/ezgif.gif" /></h4>
                    <small>Downloads</small>
                </div>
            </div>
            <div class="col">
                <a href="#" class="nav-item nav-link author-button" id="userPopover">
                <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="avatar-img img-me"> 
                <div class="mini-details">
                <small>Author</small>
                <label>Pradeep Terli</label>
                </div>
            </a>
            </div>
        </div>
    </div>

</div>
<span style="display: none;">
<div id="authorCard">
<div class="card bg-default mb-3 user-card" style="max-width: 20rem;">
             <div class="card-header"></div>
            <div class="card-body">
              <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="img-me">
              <h5 class="card-title">Pradeep Kumar Terli</h5>
              <p class="card-text">
                Web UI Developer, Blogger, Thinker, Entrepreneur
              </p>
              <nav class="nav">
                <a class="nav-link active" href="https://www.facebook.com/pradeepkumar.terli">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-link" href="https://twitter.com/PradeepTerli">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="nav-link" href="https://github.com/CuppaLabs">
                  <i class="fa fa-github"></i>
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="nav-link" href="https://plus.google.com/102171107795347642020">
                  <i class="fa fa-google-plus"></i>
                </a>
              </nav>
            </div>
          </div>
          </div>
</span>
      <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pradeepterli_sidebar_AdSense1_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="2263435109"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>


<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-two -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="8850561506"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
    </div>
    <script>
  $(function() {
    var currentTime = toJSONLocal(new Date);
  $.ajax({
  method: "GET",
  url: "https://npm-stat.com/downloads/range/2017-01-28:"+currentTime+"/cuppa-ng2-slidemenu"
})
  .done(function( data ) {
    var total = 0;
    $.each(data.downloads, function(key, obj){
      total += obj.downloads
    });
    $("#cuppa-ng2-slidemenu").empty().html(numberWithCommas(total));
  });
  });


</script>
<script>
  $(function () {
    var options = {
    html: true,
    placement: 'bottom',
    trigger: 'hover',
    content: function (){
      return $('#authorCard').html();
    }

  };
  $('#userPopover').popover(options)
})
  </script>
    <!--/span-->
  </div>
  <!--/row-->

  <footer class="footer">
    <p>© 2009-2017 &nbsp <a href="https://cuppalabs.github.io" style="color: #fff;font-size: 16px;">Cuppa Labs</a> &nbsp <b>Made in India</b>. All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
    $(function() {
  return $(".component-article h1, .component-article h2, .component-article h3, .component-article h4, .component-article h5, .component-article h6").each(function(i, el) {
    var $el, icon, id, val;
    $el = $(el);
    val = $(el).html().split(' ').join('-');
    id = $el.attr('id', val);
    if (id) {
      return $el;
    }
  });
});
    $(function() {
  return $("#navbar-example2 > a").each(function(i, el) {
    var $el, icon, id, val;
    $el = $(el);
    val = '#'+$(el).html().split(' ').join('-');
    id = $el.attr('href', val);
    if (id) {
      return $el;
    }
  });
});
$(function() {
  return $("table").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    $el.addClass('table table-bordered table-responsive');
  });
});
  function toJSONLocal (date) {
	var local = new Date(date);
	local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
	return local.toJSON().slice(0, 10);
}
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93566400-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AWFjenC6Lf5-W1a4eAULLkJTjM4n-MEo4wra64YgCRVdiCG4gcJC2VrQ_RxXLSri08-ZOWDcVpML1ZBl'
            },
            style: {
              size:'responsive',
              color: 'blue',
              label: 'pay'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {
                var amount = document.getElementById("donateamount").value;
                var currency = document.getElementById("donatecurrency").value;
                // Make a call to the REST api to create the payment
                if(amount == null || currency == null){
                  return false;
                }
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: amount, currency: currency }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button');

    </script>
</body>

</html>