
<!DOCTYPE html>
<html lang="en" ng-app="winkelStore">
  <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Winkel Labs is a website dedicated to UI web technologies. Includes ui components built using javascript, jquery, angular, html5, css3 and other web technologies.">
    <meta name="author" content="Pradeep Kumar Terli">
	<meta content='ui components, javascript, jquery, angular, css, html, css3, html5, web design, webpages, mobile apps, tutorials, technology' name='keywords'/>
     <!-- SEO Tags -->
<meta name="description" content="Winkel Labs is a website dedicated to UI web technologies. Includes ui components built using javascript, jquery, angular, html5, css3 and other web technologies."/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="http://www.winkelabs.com" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Winkel Labs" />
<meta property="og:description" content="Winkel Labs is a website dedicated to UI web technologies. Includes ui components built using javascript, jquery, angular, html5, css3 and other web technologies." />
<meta property="og:url" content="http://www.winkelabs.com" />
<meta property="og:site_name" content="Winkel Labs" />
<meta property="article:publisher" content="https://www.facebook.com/winkelabs" />
<meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
<meta property="article:tag" content="Javascript" />
<meta property="article:tag" content="ui component" />
<meta property="article:tag" content="angular" />
<meta property="article:tag" content="html5" />
<meta property="article:tag" content="css3" />
<meta property="article:section" content="website" />
<meta content='941962142546533' property='fb:app_id'/>
<meta content='1490846795' property='fb:admins'/>
<meta property="og:image" content="http://www.winkelabs.com/assets/images/apple-fan-thumb.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Winkel Labs is a website dedicated to UI web technologies. Includes ui components built using javascript, jquery, angular, html5, css3 and other web technologies." />
<meta name="twitter:title" content="Winkel Labs" />
<meta name="twitter:site" content="Winkel Labs" />
<meta name="twitter:image" content="assets/images/apple-fan-thumb.png" />
<meta name="twitter:creator" content="@pradeepkumar.terli" />

    
    <link rel="icon" href="../../favicon.ico">

    <title>Winkel Labs</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/store-styles.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/prettify.css">
     <link rel="stylesheet" href="assets/css/animate.css">

  </head>

  <body onload="prettyPrint()" ng-controller="storeController">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand-icon" href="#"><div class="w-logo">W</div><div class="w-title2">Winkel Labs</div></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="scrollTo('getStarted-section')">UI Components</a></li>            
            <li><a href="" ng-click="scrollTo('screenshots-section')">Templates</a></li>
            <li><a href="" ng-click="scrollTo('screenshots-section')">Tutorials</a></li>
            <li><a href="" ng-click="scrollTo('screenshots-section')">Team</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

 <section class="section banner-section">
       <!-- <div class="black-overlay"></div> -->
      <div class="container jumbotron">  
      <h1>We are Re Building for you.... We'll be there Soon folks... !!!</h1>
        <h1 class="animated fadeInDown">We Love Web Development</h1>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="http://www.winkelabs.com/" data-counter="right"></script>
<div class="fb-share-button" data-href="http://www.winkelabs.com/" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.winkelabs.com%2F&amp;src=sdkpreparse">Share</a></div>
<div class="g-plus" data-action="share" data-href="http://www.winkelabs.com/" data-annotation="bubble"></div>
        <h2 class="animated fadeIn">Free UI Components, Tutorials, Examples,<br> Live Demos and Source Code</h2>
        <div class="buttons-section">
        <button class="btn btn-lg btn-custom">Start Exploring <i class="fa fa-angle-right fa-lg"></i></button>
        </div>
        
      </div>
      <img class="animated fadeInRightBig" src="assets/images/macPro.png"></img>
</section>
<div class="main-content container">

<div class="row col-xs-12 col-md-10">
<div class="col-md-12 utilities">
<ul class="filter-list">
	<li><a href="#">All</a></li>
	<li><a href="#">Angular</a></li>
	<li><a href="#">HMTL5</a></li>
	<li><a href="#">CSS3</a></li>
	<li><a href="#">JS</a></li>
	<li><a href="#">JQuery</a></li>
</ul>
</div>
<!-- <div ng-repeat="app in items" class="col-xs-6 col-md-4" >
	<div class="col-md-12 app">
	<a href="#">
		<div class="col-xs-12 col-md-12 thumbnail">
			<img ng-src="{{app.thumbnail}}"></img>
		</div>
	</a>
		<div class="col-xs-12 col-md-12 app-details">
			<a href="{{app.url}}"><h3>{{app.title}}</h3></a>
			<a href="#"><small>By: </small><small>{{app.author}}</small></a>
			<div class="controls">
				<button class="btn btn-default">DEMO</button>
				<button class="btn btn-default">Download</button>
				<button class="btn btn-sm btn-success">Docs</button>
			</div>
		</div>
	</div>
</div> -->
</div>
</div>


    <script type="text/javascript" src="assets/js/lib/jquery-1.11.3.js"></script>     
    <script type="text/javascript" src="assets/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/lib/prettify.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular.js"></script>
    <script type="text/javascript" src="assets/js/lib/ngSmoothScroll.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript">
    	window.onscroll = function() {
    		console.log(document.body.scrollTop);
    		if(document.body.scrollTop > 150){
    			document.getElementById('brand-icon').classList.add('onscroll');
    		}
    		else{
    			document.getElementById('brand-icon').classList.remove('onscroll');
    		}
    	};
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72175391-1', 'auto');
  ga('send', 'pageview','homepage');

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

  </body>
</html>
