<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://cuppalabs.github.io/img/coffee14.png" type="image/x-icon" />
  <title>Angular 2 DateTime picker</title>
  <link href="https://cuppalabs.github.io/css/main.css" rel="stylesheet">
  <meta name="description" content="A multiselect dropdown component for angular applications. Developed in Angular 2, its easy to install and integrate.">
  <meta content='angular 2 dropdown, angular2 dropdown, angular 2 multiselect dropdown, angular 2 multiselect' name='keywords' />
  <meta property="og:description" content="A multiselect dropdown component for angular applications. Developed in Angular 2, its easy to install and integrate." />
  <meta property="og:url" content="/components/datepicker/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Angular 2 DateTime picker" />
  <meta property="og:site_name" content="Cuppa Labs" />
  <meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
  <meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
  <meta property="article:tag" content="Angular 2" />
  <meta property="article:tag" content="html5" />
  <meta property="article:tag" content="css3" />
  <meta property="og:image" content="https://cuppalabs.github.io/img/components/datepicker-thumbnail.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar-example2" data-offset="60">

  <nav class="navbar navbar-expand-md top-navbar d-print-none">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cuppalabs.github.io/img/cuppa-logo-coffee11.png" height="32" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-navicon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://cuppalabs.github.io/components">Angular Components</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/tutorials">Tutorials</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/ng2-social-login">OAuth</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/aboutme">About Me</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/CuppaLabs">
                <i class="fa fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.facebook.com/cuppalabs">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://plus.google.com/102171107795347642020">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://twitter.com/PradeepTerli">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav> 
  
  <div class="container">

  <div class="row flex-xl-nowrap center-content">
    <div class="col col-md-12 col-lg-9 left-col">
      <div class="row component-headline">
        <div class="col-md-12 px-0">
        <div class="navbar">
          <div class="dropdown comp-list">
          <i class="fa fa-outdent comp-list" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled"><h6>All Components</h6></a>
             
  
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datepicker/">Angular 2 DateTime picker</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/multiselectDropdown/">MultiSelect Dropdown</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/slidemenu/">Angular 2 Slide Menu</a>
 
 
  
 
  
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datatable/">Angular 2 Data Table</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/fanmenu/">Circular Fan Menu</a>
 
 
  
 
  
 
  
 
  
 
  
 
  
 
  

          </div>
        </div>
          <h4 class="mr-md-auto component-title">Angular 2 DateTime picker</h4>
          <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt share-btn"></i>
            </a>
              <div class="dropdown-menu">
                <h6 class="pt-2 pb-1 pr-3 pl-3">Share on</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/datepicker/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
                <a class="dropdown-item" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/datepicker/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
                <a class="dropdown-item" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/datepicker/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
                <a class="dropdown-item" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/datepicker/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-google"></i>
              </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://cuppalabs.github.io/angular2-datetimepicker" target="_blank">
                Live Demos
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://cuppalabs.github.io/angular2-datetimepicker" target="_blank">
                <i class="fa fa-tv  share-btn"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://github.com/CuppaLabs/angular2-datetimepicker" target="_blank">
                Code on Github
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://github.com/CuppaLabs/angular2-datetimepicker" target="_blank">
                <i class="fa fa-download  share-btn"></i>
            </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 sidebar-offcanvas sidebar d-none d-md-non d-lg-block" id="sidebar">
          <div class="list-group" id="navbar-example2">
            <a href="#" class="list-group-item disabled">
              <h6>Table of Contents</h6>
            </a>
            
            <a href="#Overview" class="list-group-item">Overview</a> 
            <a href="#Getting Started" class="list-group-item">Getting Started</a> 
            <a href="#Installation" class="list-group-item">Installation</a> 
            <a href="#Usage" class="list-group-item">Usage</a> 
            <a href="#Settings" class="list-group-item">Settings</a> 
            <a href="#Callback Methods" class="list-group-item">Callback Methods</a> 
            <a href="#Date Formats Support" class="list-group-item">Date Formats Support</a> 

          </div>
        </div>
        <div class="col-md-12 col-lg-9">

          <div class="row component-article">
            <div class="col component-image">
              <img class="img-fluid" src="https://cuppalabs.github.io/img/components/datepicker-thumbnail.png" />
            </div>

          </div>
          <div class="row component-article">
            <h3 id="overview">Overview</h3>

<p>Angular 2 DateTimepicker is a cool responsive DateTimepicker component for Web and Mobile. It is Mobile friendly and light weight. Developed by <a href="http://www.cuppalabs.com">Cuppa Labs</a>.</p>

<h3 id="getting-started">Getting Started</h3>
<p>To get started with using the multiselect dropdown component, follow the below steps. It’s easy to integrate and just a matter of minutes.</p>

<h3 id="installation">Installation</h3>
<ul>
  <li>The datetimepicker package is published on the <a href="https://www.npmjs.com/package/angular2-datetimepicker">npm</a> Registry.</li>
  <li>Install the package with <a href="https://www.npmjs.com">npm</a>:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code>	<span class="nx">npm</span> <span class="nx">install</span> <span class="nx">angular2</span><span class="o">-</span><span class="nx">datetimepicker</span>
</code></pre>
</div>

<h3 id="usage">Usage</h3>

<p>Import <code class="highlighter-rouge">AngularDateTimePickerModule</code> into your <code class="highlighter-rouge">AppModule</code></p>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">import</span> <span class="p">{</span> <span class="nx">AngularDateTimePickerModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'angular2-datetimepicker'</span><span class="p">;</span>

<span class="err">@</span><span class="nx">NgModule</span><span class="p">({</span>
  <span class="c1">// ...</span>
  <span class="na">imports</span><span class="p">:</span> <span class="p">[</span>
    <span class="nx">AngularDateTimePickerModule</span><span class="p">,</span>
  <span class="p">]</span>
  <span class="c1">// ...</span>
<span class="p">})</span>

</code></pre>
</div>
<p>Declare the component data variables and options in your component where you want to consume the dropdown component.</p>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">import</span> <span class="p">{</span> <span class="nx">Component</span><span class="p">,</span> <span class="nx">OnInit</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'@angular/core'</span><span class="p">;</span>

<span class="kr">export</span> <span class="kr">class</span> <span class="nx">AppComponent</span> <span class="kr">implements</span> <span class="nx">OnInit</span> <span class="p">{</span>
    
	<span class="nl">date</span><span class="p">:</span> <span class="nb">Date</span> <span class="o">=</span> <span class="k">new</span> <span class="nb">Date</span><span class="p">();</span>
	<span class="nx">settings</span> <span class="o">=</span> <span class="p">{</span>
		<span class="na">bigBanner</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
		<span class="na">timePicker</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
		<span class="na">format</span><span class="p">:</span> <span class="s1">'dd-MM-yyyy'</span><span class="p">,</span>
		<span class="na">defaultOpen</span><span class="p">:</span> <span class="kc">true</span>
	<span class="p">}</span>
	<span class="nx">constructor</span><span class="p">(){}</span>
    <span class="nx">ngOnInit</span><span class="p">(){</span>
       
    <span class="p">}</span>
<span class="p">}</span>

</code></pre>
</div>

<p>Add the following component tag in the template where your want to place the datepicker</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>
<span class="nt">&lt;angular2-date-picker</span> <span class="err">[(</span><span class="na">ngModel</span><span class="err">)]="</span><span class="na">date</span><span class="err">"</span> <span class="err">[</span><span class="na">settings</span><span class="err">]="</span><span class="na">settings</span><span class="err">"</span><span class="nt">&gt;&lt;/angular2-date-picker&gt;</span>

</code></pre>
</div>

<h3 id="settings">Settings</h3>

<p>Following <code class="highlighter-rouge">settings</code> object properties can be used to configure the component.</p>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Default</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">format</td>
      <td style="text-align: left">String</td>
      <td style="text-align: left">dd-MMM-yyyy hh:mm a</td>
      <td style="text-align: left">Date format of the selected date.</td>
    </tr>
    <tr>
      <td style="text-align: left">bigBanner</td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">true</td>
      <td style="text-align: left">The banner section to show the date details.</td>
    </tr>
    <tr>
      <td style="text-align: left">defaultOpen</td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">false</td>
      <td style="text-align: left">To open the datepicker popover on load. Default is set to false.</td>
    </tr>
    <tr>
      <td style="text-align: left">timePicker</td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">false</td>
      <td style="text-align: left">Enable time picker feature.</td>
    </tr>
    <tr>
      <td style="text-align: left">closeOnSelect</td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">true</td>
      <td style="text-align: left">to close the popover on date select or on click of done button.</td>
    </tr>
  </tbody>
</table>

<h2 id="callback-methods">Callback Methods</h2>

<ul>
  <li><code class="highlighter-rouge">onDateSelect</code></li>
</ul>

<p>Define a callback method to be called on select of the date.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>  
  <span class="nt">&lt;angular2-date-picker</span> <span class="err">(</span><span class="na">onDateSelect</span><span class="err">)="</span><span class="na">onDateSelect</span><span class="err">($</span><span class="na">event</span><span class="err">)"</span> 
			<span class="err">[(</span><span class="na">ngModel</span><span class="err">)]="</span><span class="na">date</span><span class="err">"</span> 
			<span class="err">[</span><span class="na">settings</span><span class="err">]="</span><span class="na">settings</span><span class="err">"</span> <span class="nt">&gt;</span>
  <span class="nt">&lt;/angular2-date-picker&gt;</span>

</code></pre>
</div>
<h2 id="date-formats-support">Date Formats Support</h2>

<p>format string can be composed of the following elements:</p>

<ul>
  <li>‘yyyy’: 4 digit representation of year (e.g. AD 1 =&gt; 0001, AD 2010 =&gt; 2010)</li>
  <li>‘yy’: 2 digit representation of year, padded (00-99). (e.g. AD 2001 =&gt; 01, AD 2010 =&gt; 10)</li>
  <li>‘y’: 1 digit representation of year, e.g. (AD 1 =&gt; 1, AD 199 =&gt; 199)</li>
  <li>‘MMMM’: Month in year (January-December)</li>
  <li>‘MMM’: Month in year (Jan-Dec)</li>
  <li>‘MM’: Month in year, padded (01-12)</li>
  <li>‘M’: Month in year (1-12)</li>
  <li>‘LLLL’: Stand-alone month in year (January-December)</li>
  <li>‘dd’: Day in month, padded (01-31)</li>
  <li>‘d’: Day in month (1-31)</li>
  <li>‘EEEE’: Day in Week,(Sunday-Saturday)</li>
  <li>‘EEE’: Day in Week, (Sun-Sat)</li>
  <li>‘HH’: Hour in day, padded (00-23)</li>
  <li>‘H’: Hour in day (0-23)</li>
  <li>‘hh’: Hour in AM/PM, padded (01-12)</li>
  <li>‘h’: Hour in AM/PM, (1-12)</li>
  <li>‘mm’: Minute in hour, padded (00-59)</li>
  <li>‘m’: Minute in hour (0-59)</li>
  <li>‘ss’: Second in minute, padded (00-59)</li>
  <li>’s’: Second in minute (0-59)</li>
  <li>‘sss’: Millisecond in second, padded (000-999)</li>
  <li>‘a’: AM/PM marker</li>
  <li>‘Z’: 4 digit (+sign) representation of the timezone offset (-1200-+1200)</li>
  <li>‘ww’: Week of year, padded (00-53). Week 01 is the week with the first Thursday of the year</li>
  <li>‘w’: Week of year (0-53). Week 1 is the week with the first Thursday of the year</li>
  <li>‘G’, ‘GG’, ‘GGG’: The abbreviated form of the era string (e.g. ‘AD’)</li>
  <li>‘GGGG’: The long form of the era string (e.g. ‘Anno Domini’)</li>
</ul>

<p>format string can also be one of the following predefined localizable formats:</p>

<ul>
  <li>
    <p>‘medium’: equivalent to ‘MMM d, y h:mm:ss a’ for en_US locale (e.g. Sep 3, 2010 12:05:08 PM)</p>
  </li>
  <li>‘short’: equivalent to ‘M/d/yy h:mm a’ for en_US locale (e.g. 9/3/10 12:05 PM)</li>
  <li>‘fullDate’: equivalent to ‘EEEE, MMMM d, y’ for en_US locale (e.g. Friday, September 3, 2010)</li>
  <li>‘longDate’: equivalent to ‘MMMM d, y’ for en_US locale (e.g. September 3, 2010)</li>
  <li>‘mediumDate’: equivalent to ‘MMM d, y’ for en_US locale (e.g. Sep 3, 2010)</li>
  <li>‘shortDate’: equivalent to ‘M/d/yy’ for en_US locale (e.g. 9/3/10)</li>
  <li>‘mediumTime’: equivalent to ‘h:mm:ss a’ for en_US locale (e.g. 12:05:08 PM)</li>
  <li>‘shortTime’: equivalent to ‘h:mm a’ for en_US locale (e.g. 12:05 PM)</li>
</ul>

<h2 id="run-locally">Run locally</h2>
<ul>
  <li>Clone the repository or downlod the .zip,.tar files.</li>
  <li>Run <code class="highlighter-rouge">npm install</code></li>
  <li>Run <code class="highlighter-rouge">ng serve</code> for a dev server</li>
  <li>Navigate to <code class="highlighter-rouge">http://localhost:4200/</code></li>
</ul>

<h2 id="license">License</h2>
<p>MIT License.</p>

<h2 id="credits">Credits</h2>
<p>Thanks to Font Awesome and Moment.js for the libraries.</p>

<h2 id="author">Author</h2>
<p>Pradeep Kumar Terli</p>


          </div>
          <!--/row-->
          <div class="comments-section">

            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "/components/datepicker/";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "Angular 2 DateTime picker"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//cuppalabs.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>

          </div>
        </div>
      </div>

    </div>
    <!--/span-->
    <div class="col d-none d-md-block sidebar ad-sidebar">
      <div class="row component-headline">
    <div class="col-md-12 stats-section">
        <div class="navbar">
            <div class="col">
                <i class="fa fa-download"></i>
                <div class="mr-md-auto component-title">
                    <h4 id="angular2-datetimepicker"><img style="width:45px;" src="/img/ezgif.gif" /></h4>
                    <small>Downloads</small>
                </div>
            </div>
            <div class="col">
                <a href="#" class="nav-item nav-link author-button" id="userPopover">
                <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="avatar-img img-me"> 
                <div class="mini-details">
                <small>Author</small>
                <label>Pradeep Terli</label>
                </div>
            </a>
            </div>
        </div>
    </div>

</div>
<span style="display: none;">
<div id="authorCard">
<div class="card bg-default mb-3 user-card" style="max-width: 20rem;">
             <div class="card-header"></div>
            <div class="card-body">
              <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="img-me">
              <h5 class="card-title">Pradeep Kumar Terli</h5>
              <p class="card-text">
                Web UI Developer, Blogger, Thinker, Entrepreneur
              </p>
              <nav class="nav">
                <a class="nav-link active" href="https://www.facebook.com/pradeepkumar.terli">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-link" href="https://twitter.com/PradeepTerli">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="nav-link" href="https://github.com/CuppaLabs">
                  <i class="fa fa-github"></i>
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="nav-link" href="https://plus.google.com/102171107795347642020">
                  <i class="fa fa-google-plus"></i>
                </a>
              </nav>
            </div>
          </div>
          </div>
</span>
      <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pradeepterli_sidebar_AdSense1_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="2263435109"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>


<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-two -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="8850561506"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
    </div>
    <script>
  $(function() {
    var currentTime = toJSONLocal(new Date);
  $.ajax({
  method: "GET",
  url: "https://npm-stat.com/downloads/range/2017-11-13:"+currentTime+"/angular2-datetimepicker"
})
  .done(function( data ) {
    var total = 0;
    $.each(data.downloads, function(key, obj){
      total += obj.downloads
    });
    $("#angular2-datetimepicker").empty().html(numberWithCommas(total));
  });
  });


</script>
<script>
  $(function () {
    var options = {
    html: true,
    placement: 'bottom',
    trigger: 'hover',
    content: function (){
      return $('#authorCard').html();
    }

  };
  $('#userPopover').popover(options)
})
  </script>
    <!--/span-->
  </div>
  <!--/row-->

  <footer class="footer">
    <p>© 2009-2017 &nbsp <a href="https://cuppalabs.github.io" style="color: #fff;font-size: 16px;">Cuppa Labs</a> &nbsp <b>Made in India</b>. All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
    $(function() {
  return $(".component-article h1, .component-article h2, .component-article h3, .component-article h4, .component-article h5, .component-article h6").each(function(i, el) {
    var $el, icon, id, val;
    $el = $(el);
    val = $(el).html().split(' ').join('-');
    id = $el.attr('id', val);
    if (id) {
      return $el;
    }
  });
});
    $(function() {
  return $("#navbar-example2 > a").each(function(i, el) {
    var $el, icon, id, val;
    $el = $(el);
    val = '#'+$(el).html().split(' ').join('-');
    id = $el.attr('href', val);
    if (id) {
      return $el;
    }
  });
});
$(function() {
  return $("table").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    $el.addClass('table table-bordered table-responsive');
  });
});
  function toJSONLocal (date) {
	var local = new Date(date);
	local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
	return local.toJSON().slice(0, 10);
}
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93566400-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>