<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="icon" href="https://cuppalabs.github.io/img/coffee14.png" type="image/x-icon" />
  <title>Cuppa Labs - UI Development | Tutorials | Demos | Javascript | Angular | HTML5 | CSS3</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:500,700" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="description" content="UI Programming Tech Blog with Demos and Tutorials. Learn Angular 2, JavaScript, HTML5, CSS3 with examples. Free UI components and tutorials for your web projects.">
  <meta content='' name='keywords'/>
  <meta name="description" content="UI Programming Tech Blog with Demos and Tutorials. Learn Angular 2, JavaScript, HTML5, CSS3 with examples. Free UI components and tutorials for your web projects."/>
<meta property="og:description" content="UI Programming Tech Blog with Demos and Tutorials. Learn Angular 2, JavaScript, HTML5, CSS3 with examples. Free UI components and tutorials for your web projects." />
<meta property="og:url" content="/components/" />
<meta property="og:site_name" content="Cuppa Labs" />
<meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
<meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
<meta property="article:tag" content="Angular 2" />
<meta property="article:tag" content="html5" />
<meta property="article:tag" content="css3" />
<meta property="og:image" content="http://cuppalabs.github.io/img/components/" />
</head>
<body>
<nav class="navbar main-menu navbar-default">
    <div class="container-fluid">
        <div class="menu-content">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                <img src="/img/cuppa-logo-coffee11.png" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="">Home</a></li>
                    <li class="menu-item-has-children">
                        <a href="/components" class="current">Angular Components</a>
                    <li><a href="/tutorials" class="">Tutorials</a></li>
                     <li><a href="/ng2-social-login" class="">OAuth</a></li>
                    <li><a href="/aboutMe" class="">About Me </a></li>
                </ul>
                <div class="i_con">
                    <a href="https://github.com/CuppaLabs"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/cuppalabs"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/pradeep-kumar-terli"><i class="fa fa-linkedin"></i></a>
                    <a href="https://plus.google.com/102171107795347642020"><i class="fa fa-google-plus"></i></a>
                    <a href="https://twitter.com/PradeepTerli"><i class="active fa fa-twitter"></i></a>
                </div>

            </div>
            <div class="show-search">
                <form role="search" method="get" id="searchform" action="#">
                    <div>
                        <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>


<nav class="navbar secondary-menu navbar-default sticky">
    <div class="container-fluid">
        <div class="menu-content">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/components">
                Angular Components
                </a>
            </div>
           <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav text-uppercase">
                <li>
                    <a href="/tutorials" class="">All</a>
                  </li>
                
                </ul>
            </div> -->
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                
  
    


<div class="col-md-4 col-sm-6">
                        <article class="post post-list card">
                            <div class="post-thumb">
                                <a href="/components/multiselectDropdown/"><img src="/img/component/multiselect-dropdown.png" alt=""></a>

                                <a href="/components/multiselectDropdown/" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Project</div>
                                </a>
                            </div>
                            <div class="post-content">
                               <header class="entry-header">
                                    <h3 class="entry-title"><a href="/components/multiselectDropdown/">MultiSelect Dropdown</a></h3>
                                    <div>
                                        <span class="social-share-title pull-left text-capitalize">
                                            By Pradeep Terli</span>
                                        <span class="social-share-title pull-right text-capitalize">
                                            16 April 2017</span>
                                    </div>  
                                    <p class="card-description">A multiselect dropdown component for angular applications. Developed in Angular 2, its easy to install...</p> 
                                    <h6>
                                        
                                        <a href="#"> angular</a>
                                        
                                        <a href="#"> component</a>
                                        
                                    </h6>
                                    <div class="social-share">
                                       <ul class="text-center pull-right">
    <li>
        <a class="s-facebook" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a class="s-google-plus" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
        <a class="s-linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a class="s-twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
</ul>
                                        </div> 
                                </header>
                            </div>

                        </article>
                    </div>

    
  
    


<div class="col-md-4 col-sm-6">
                        <article class="post post-list card">
                            <div class="post-thumb">
                                <a href="/components/slidemenu/"><img src="/img/component/slidemenu-thumbnail.png" alt=""></a>

                                <a href="/components/slidemenu/" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Project</div>
                                </a>
                            </div>
                            <div class="post-content">
                               <header class="entry-header">
                                    <h3 class="entry-title"><a href="/components/slidemenu/">Slide Menu</a></h3>
                                    <div>
                                        <span class="social-share-title pull-left text-capitalize">
                                            By Pradeep Terli</span>
                                        <span class="social-share-title pull-right text-capitalize">
                                            28 March 2017</span>
                                    </div>  
                                    <p class="card-description">An angular 2 slide navigation menu component for mobile and web.Hamburger kind of menu for...</p> 
                                    <h6>
                                        
                                        <a href="#"> angular</a>
                                        
                                        <a href="#"> component</a>
                                        
                                    </h6>
                                    <div class="social-share">
                                       <ul class="text-center pull-right">
    <li>
        <a class="s-facebook" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a class="s-google-plus" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
        <a class="s-linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a class="s-twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
</ul>
                                        </div> 
                                </header>
                            </div>

                        </article>
                    </div>

    
  
    
  
    


<div class="col-md-4 col-sm-6">
                        <article class="post post-list card">
                            <div class="post-thumb">
                                <a href="/components/datatable/"><img src="/img/component/datatable-thumbnail.png" alt=""></a>

                                <a href="/components/datatable/" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Project</div>
                                </a>
                            </div>
                            <div class="post-content">
                               <header class="entry-header">
                                    <h3 class="entry-title"><a href="/components/datatable/">Data Table</a></h3>
                                    <div>
                                        <span class="social-share-title pull-left text-capitalize">
                                            By Pradeep Terli</span>
                                        <span class="social-share-title pull-right text-capitalize">
                                            20 February 2017</span>
                                    </div>  
                                    <p class="card-description">Render 10,000+ Records with high performance. The Grid component allows users to browse and edit...</p> 
                                    <h6>
                                        
                                        <a href="#"> angular</a>
                                        
                                        <a href="#"> component</a>
                                        
                                    </h6>
                                    <div class="social-share">
                                       <ul class="text-center pull-right">
    <li>
        <a class="s-facebook" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a class="s-google-plus" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
        <a class="s-linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a class="s-twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
</ul>
                                        </div> 
                                </header>
                            </div>

                        </article>
                    </div>

    
  
    


<div class="col-md-4 col-sm-6">
                        <article class="post post-list card">
                            <div class="post-thumb">
                                <a href="/components/datepicker/"><img src="/img/component/datepicker-thumbnail.png" alt=""></a>

                                <a href="/components/datepicker/" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Project</div>
                                </a>
                            </div>
                            <div class="post-content">
                               <header class="entry-header">
                                    <h3 class="entry-title"><a href="/components/datepicker/">DateTimepicker</a></h3>
                                    <div>
                                        <span class="social-share-title pull-left text-capitalize">
                                            By Pradeep Terli</span>
                                        <span class="social-share-title pull-right text-capitalize">
                                            12 February 2017</span>
                                    </div>  
                                    <p class="card-description">Angular Cuppa DateTimepicker is a cool responsive DateTimepicker directive for Web and Mobile. It is...</p> 
                                    <h6>
                                        
                                        <a href="#"> angular</a>
                                        
                                        <a href="#"> component</a>
                                        
                                    </h6>
                                    <div class="social-share">
                                       <ul class="text-center pull-right">
    <li>
        <a class="s-facebook" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a class="s-google-plus" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
        <a class="s-linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a class="s-twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
</ul>
                                        </div> 
                                </header>
                            </div>

                        </article>
                    </div>

    
  
    


<div class="col-md-4 col-sm-6">
                        <article class="post post-list card">
                            <div class="post-thumb">
                                <a href="/components/fanmenu/"><img src="/img/component/fanmenu-thumbnail.png" alt=""></a>

                                <a href="/components/fanmenu/" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Project</div>
                                </a>
                            </div>
                            <div class="post-content">
                               <header class="entry-header">
                                    <h3 class="entry-title"><a href="/components/fanmenu/">Fan Menu</a></h3>
                                    <div>
                                        <span class="social-share-title pull-left text-capitalize">
                                            By Pradeep Terli</span>
                                        <span class="social-share-title pull-right text-capitalize">
                                            12 February 2017</span>
                                    </div>  
                                    <p class="card-description">Cuppa Angular Fan Menu is an angular directive for cool menu componet for web and...</p> 
                                    <h6>
                                        
                                        <a href="#"> angular</a>
                                        
                                        <a href="#"> component</a>
                                        
                                    </h6>
                                    <div class="social-share">
                                       <ul class="text-center pull-right">
    <li>
        <a class="s-facebook" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
        <a class="s-google-plus" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
        <a class="s-linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
        <a class="s-twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
</ul>
                                        </div> 
                                </header>
                            </div>

                        </article>
                    </div>

    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

            </div>
            <div class="col-md-3 col-sm-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pradeepterli_sidebar_AdSense1_300x250_as -->
<ins class="adsbygoogle"
     style="display:block;width:200px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="2263435109"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-two -->
<ins class="adsbygoogle"
     style="display:block;width:200px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="8850561506"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                <aside class="widget about-me-widget">
                        <div class="about-me-img">

                            <div class="about-me-content text-center">
                                <img src="/img/pradeep.jpg" alt="" class="img-me">

                                <h3 class="text-uppercase">Pradeep Kumar Terli</h3>

                                <p>Web UI Developer, Blogger, Thinker , Entrepreneur. Loves to explore technology with focus on web technologies.</p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="text-center text-center">
                                <li><a class="s-facebook" href="https://www.facebook.com/pradeepkumar.terli" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-linkedin" href="http://www.linkedin.com/in/pradeep-kumar-terli" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="s-google-plus" href="https://plus.google.com/102171107795347642020"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="s-twitter" href="https://twitter.com/PradeepTerli"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                 <!--   <aside class="widget news-letter">
                        <h3 class="widget-title text-uppercase text-center">Get Newsletter</h3>

                        <form action="#">
                            <input type="email" placeholder="Your email address">
                            <input type="submit" value="Subscribe Now" class="text-uppercase text-center btn btn-subscribe">
                        </form>

                    </aside> -->
            </div>
        </div>
    </div>
</div>



<footer class="footer">
  <p>© 2009-2017 www.cuppalabs.com. <b>Made in India</b>. All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=929055083862567";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>

<script>
  $(window).scroll(function(){
  var sticky = $('.sticky'),
      scroll = $(window).scrollTop(),
      sticky2 = $('.left-sticky'),
      sticky3 = $('.content-sticky'),
      sticky4 = $('.fixed-ad'),
      sticky5 = $('.sec-menu-sticky'),
      sticky6 = $('.doc-menu-sticky'),
      sticky7 = $('.doc-left-sticky');

  if (scroll >= 60) {
    sticky.addClass('fixed');
    sticky2.addClass('left-fixed');
    sticky3.addClass('content-fixed');
  }
  else {
    sticky.removeClass('fixed');
    sticky2.removeClass('left-fixed');
    sticky3.removeClass('content-fixed');
  }
  if (scroll >= 50) {
    sticky4.addClass('fixed');
  }
  else if (scroll < 50) {
    sticky4.removeClass('fixed');
  }
  if (scroll >= 364) {
    sticky5.addClass('fixed');
  }
  else if (scroll <= 364) {
    sticky5.removeClass('fixed');
  }
  if (scroll >= 200 ) {
    sticky6.addClass('fixed');
  }
  else if (scroll <= 200 ) {
    sticky6.removeClass('fixed');
  }
  if (scroll >= 200 ) {
    sticky7.addClass('fixed');
  }
  else if (scroll <= 200 ) {
    sticky7.removeClass('fixed');
  }
});
</script>
<script>
$(function() {
  return $("h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      $el.addClass('anchor');
      return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id));
    }
  });
});
$(function() {
  return $("table").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    $el.addClass('table table-bordered table-responsive');
  });
});
/*$(function(){
      $("#myScrollspy ul li a[href^='#']").on('click', function(e) {

       // prevent default anchor click behavior
       e.preventDefault();

       // animate
       $('html, body').animate({
           scrollTop: $(this.hash).offset().top - 75
         }, 300, function(){
   
           // when done, add hash to url
           // (default click behaviour)
           window.location.hash = this.hash;
         });

    });

});*/
$(document).on('click', '.index-list a', function (event) {
    "use strict";
    event.preventDefault();
    var animLen = $($.attr(this, 'href')).offset().top - 62.667 - 30;
    $('html, body').animate({
        scrollTop: animLen
    }, 300);

});
$(function () {
    "use strict";
    $(window).bind('scroll', function () {
        $('.anchor').each(function () {
            var anchored = $(this).attr("id"),
                position = $(this).position().top - $(window).scrollTop()- 62.667 - 30,
                targetOffset = $(this).offset().top - 75 - 30;

            if ($(window).scrollTop() > targetOffset) {

                $('ul.index-list').find('li').removeClass("active");
                $('ul.index-list').find(('*[data-anchor="' + anchored + '"]')).addClass("active");
            }
        });
    });
});
</script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93566400-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
