<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://cuppalabs.github.io/img/coffee14.png" type="image/x-icon" />
  <title>Angular 2 Data Table</title>
  <link href="https://cuppalabs.github.io/css/main.css" rel="stylesheet">
  <meta name="description" content="Angular 2 Datatable component. Render 10,000+ Records with high performance. The datatable component allows users to browse and edit tabular data.">
  <meta content='Angular2 datatable, angular2 grid datatable, ng2-grid, angular2 datatable, datatable large datasets' name='keywords' />
  <meta property="og:description" content="Angular 2 Datatable component. Render 10,000+ Records with high performance. The datatable component allows users to browse and edit tabular data." />
  <meta property="og:url" content="https://cuppalabs.github.io/components/datatable/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Angular 2 Data Table" />
  <meta property="og:site_name" content="Cuppa Labs" />
  <meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
  <meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
  <meta property="article:tag" content="Angular 2" />
  <meta property="article:tag" content="html5" />
  <meta property="article:tag" content="css3" />
  <meta property="og:image" content="https://cuppalabs.github.io/img/components/datatable-thumbnail.png" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-example2" data-offset="60">
<div id="load">
  <div class="loader">
	<div class="loader-inner">
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
	</div>
</div>
</div>

  <nav class="navbar navbar-expand-md top-navbar d-print-none">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cuppalabs.github.io/img/cuppa-logo-coffee11.png" height="32" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-navicon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://cuppalabs.github.io/components">Angular Components</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/tutorials">Tutorials</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/ng2-social-login">Angular Social Login</a>
        </li>
<!--         <li class="nav-item ">
          <a class="nav-link" href="https://cuppalabs.github.io/interview-experiences">Interview Experiences</a>
        </li>-->
<!--        <li class="nav-item">
          <button type="button" id="paypal-form" class="btn btn-primary donation-button" data-toggle="modal" data-target="#exampleModalLong">
            Donate 
          </button>
          <a id="insta-button" href="https://www.instamojo.com/@cuppalabs/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Donate"></a>
        </li>-->
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/CuppaLabs">
                <i class="fa fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.facebook.com/cuppalabs">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://plus.google.com/102171107795347642020">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://twitter.com/PradeepTerli">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link nav-avatar-link" href="https://cuppalabs.github.io/aboutme">
          <img src="http://cuppalabs.github.io/img/pradeep.jpg" class="avatar-img img-me nav-avatar"/>
          Author <br>
          Pradeep Kumar Terli
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Donate and keep us going !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
                        <div class="alert alert-success" role="alert" id="successMsg">
Your transaction is successful. Thank you for your support</div>
          <div class="col-md-7">
            <div class="row">

              <form class="form-inline donate-form">

                <div class="col-md-8">
                  <label for="inlineFormInputName2">Amount</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter amount...">
                </div>
                <div class="col-md-4">
                  <label for="inlineFormInputName2">Currency</label>
                  <select class="form-control" id="donatecurrency">
                      <option value="USD">USD</option>
                      <option value="BRL">BRL</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label for="inlineFormInputName2">Email</label>
                  <input type="text" id="donateamount" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Enter email address...">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <div id="paypal-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <div class="container">

  <div class="row flex-xl-nowrap center-content">
    <div class="col col-md-12 col-lg-9 left-col">
      <div class="row component-headline">
        <div class="col-md-12 px-0">
        <div class="navbar">
          <div class="dropdown comp-list">
          <i class="fa fa-outdent comp-list" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled"><h6>All Components</h6></a>
             
  
  
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datepicker/">Angular 2 DateTime picker</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/multiselectDropdown/">MultiSelect Dropdown</a>
 
 
  
 
  
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/slidemenu/">Angular 2 Slide Menu</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/datatable/">Angular 2 Data Table</a>
 
 
 
  <a class="dropdown-item" href="https://cuppalabs.github.io/components/fanmenu/">Circular Fan Menu</a>
 
 
  
 
  
 
  
 
  
 
  
 
  
 
  
 
  

          </div>
        </div>
          <h4 class="mr-md-auto component-title">Angular 2 Data Table</h4>
          <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt share-btn"></i>
            </a>
              <div class="dropdown-menu">
                <h6 class="pt-2 pb-1 pr-3 pl-3">Share on</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/components/datatable/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
                <a class="dropdown-item" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/components/datatable/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
                <a class="dropdown-item" href="http://twitter.com/share?url=https://cuppalabs.github.io/components/datatable/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
                <a class="dropdown-item" href="https://plus.google.com/share?url=https://cuppalabs.github.io/components/datatable/" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                  rel="nofollow" target="_blank">
                <i class="fa fa-google"></i>
              </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://cuppalabs.github.io/angular2-dataGrid" target="_blank">
                Live Demos
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://cuppalabs.github.io/angular2-dataGrid" target="_blank">
                <i class="fa fa-tv  share-btn"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mr-md-2 btn btn-primary d-none d-md-block" href="https://github.com/CuppaLabs/angular2-dataGrid" target="_blank">
                Code on Github
            </a>
             <a class="nav-item nav-link mr-md-2 d-block d-md-none" href="https://github.com/CuppaLabs/angular2-dataGrid" target="_blank">
                <i class="fa fa-download  share-btn"></i>
            </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 sidebar-offcanvas sidebar d-none d-md-non d-lg-block" id="sidebar">
          <div class="list-group" id="navbar-example2">
            <a href="#" class="list-group-item disabled">
              <h6>Table of Contents</h6>
            </a>
            
            <a href="#Overview" class="list-group-item">Overview</a> 
            <a href="#Getting Started" class="list-group-item">Getting Started</a> 
            <a href="#Installation" class="list-group-item">Installation</a> 
            <a href="#Usage" class="list-group-item">Usage</a> 
            <a href="#Initialize" class="list-group-item">Initialize</a> 
            <a href="#Config Options" class="list-group-item">Config Options</a> 
            <a href="#Column Template" class="list-group-item">Column Template</a> 
            <a href="#Heading Template" class="list-group-item">Heading Template</a> 
            <a href="#Events" class="list-group-item">Events</a> 

          </div>
        </div>
        <div class="col-md-12 col-lg-9">

          <div class="row component-article">
            <div class="col component-image">
              <img class="img-fluid" src="https://cuppalabs.github.io/img/components/datatable-thumbnail.png" />
            </div>

          </div>
          <div class="row component-article">
            <h2 id="overview">Overview</h2>

<h3 id="render-10000-records-with-high-performance">Render 10,000+ Records with high performance</h3>
<p>It is often required that, large datasets needs to be rendered in the front-end table. Cuppa Angular 2 Data Grid components handles 10K + records with high performance. Developed using <code class="highlighter-rouge">Angular 2</code>, <code class="highlighter-rouge">TypeScript</code>, <code class="highlighter-rouge">HTML</code>, <code class="highlighter-rouge">CSS</code></p>

<h3 id="features">Features</h3>
<ul>
  <li>Render <code class="highlighter-rouge">10k + records</code> with high performance</li>
  <li>Faster Rendering without browser hanging.</li>
  <li>Faster <code class="highlighter-rouge">Sorting algorithm</code></li>
  <li>Faster <code class="highlighter-rouge">filtering</code> and <code class="highlighter-rouge">search algorithm</code></li>
</ul>

<h2 id="getting-started">Getting Started</h2>

<h3 id="installation">Installation</h3>
<ul>
  <li>Install with <a href="https://www.npmjs.com/package/cuppa-ng2-grid">npm</a>:
  <code class="highlighter-rouge">npm install cuppa-ng2-grid </code></li>
</ul>

<h3 id="usage">Usage</h3>

<ul>
  <li>Import <code class="highlighter-rouge">CuppaDataGridModule</code> from the installed package into your module as follows:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="kr">import</span> <span class="p">{</span> <span class="nx">CuppaDataGridModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'cuppa-ng2-grid/cuppa-ng2-dataGrid'</span><span class="p">;</span>
</code></pre>
</div>
<ul>
  <li>Declare the data grid module in your <code class="highlighter-rouge">ngModule</code> as follows:</li>
</ul>

<div class="language-js highlighter-rouge"><pre class="highlight"><code><span class="err">@</span><span class="nx">NgModule</span><span class="p">({</span>
  <span class="na">bootstrap</span><span class="p">:</span> <span class="p">[</span> <span class="nx">AppComponent</span> <span class="p">],</span>
  <span class="na">declarations</span><span class="p">:</span> <span class="p">[</span>
    <span class="nx">AppComponent</span><span class="p">,</span>
    <span class="nx">NoContentComponent</span>  <span class="p">],</span>
  <span class="na">imports</span><span class="p">:</span> <span class="p">[</span>
    <span class="nx">BrowserModule</span><span class="p">,</span> 
    <span class="nx">FormsModule</span><span class="p">,</span>
    <span class="nx">HttpModule</span><span class="p">,</span>
    <span class="nx">CuppaDataGridModule</span> <span class="c1">// Import DataGrid module variable here</span>
  <span class="p">]</span>
<span class="p">})</span>
</code></pre>
</div>

<h2 id="initialize">Initialize</h2>

<h3 id="html">HTML</h3>
<ul>
  <li>Place the component html tag in the template where the table needs to be rendered.
```html</li>
</ul>
<p>&lt;cuppa-datagrid [datalist] = “arrayList” [config]=”config” (onRowSelect)=”onRowClick($event)”&gt;&lt;/cuppa-datagrid&gt;</p>
<div class="highlighter-rouge"><pre class="highlight"><code>
### JS 
- Component requires a `config` object to configure the grid and `datalist` to pass data to the component, as follows:

```js 
export class AppComponent implements OnInit {
      private config = {
        title: "Cuppa Data Table",
        w: 300,
        h: 300,
        itemHeight: 31,
        totalRows: 10000,
        items: this.arrayList,
        sort:{'id':'desc'}
      }
      private arrayList:any[] =
            [
                {"id":1,"name":"Mayo","mobile":9240592804},
                {"id":2,"name":"Nelson","mobile":9008774782},
                {"id":3,"name":"Nichols","mobile":9965852134},
                {"id":4,"name":"Summers","mobile":9600712058},
                {"id":5,"name":"Novak","mobile":9045924098},
                {"id":6,"name":"Bell","mobile":9001240358},
                {"id":7,"name":"Marshall","mobile":9276107621},
                {"id":8,"name":"May","mobile":9966279627},
                {"id":9,"name":"Villanueva","mobile":9695365778},
                {"id":10,"name":"Gonzalez","mobile":9946879817},
                {"id":11,"name":"Dorsey","mobile":9243595415}
            ];
      private onRowClick(row:any){
        console.log(row);
        alert("selected row:"+ row.id +" "+row.name+" "+row.mobile);
      }
  }
</code></pre>
</div>

<h3 id="config-options">Config Options</h3>
<p>The following config options can be used</p>

<table>
  <thead>
    <tr>
      <th>Setting</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>title</td>
      <td>String</td>
      <td>Set the title of the table</td>
    </tr>
    <tr>
      <td>w</td>
      <td>Number</td>
      <td>Set the width of the table.</td>
    </tr>
    <tr>
      <td>h</td>
      <td>Number</td>
      <td>Set the height of the table.</td>
    </tr>
    <tr>
      <td>itemHeight</td>
      <td>Number</td>
      <td>Set the height of the row.</td>
    </tr>
    <tr>
      <td>totalRows</td>
      <td>Number</td>
      <td>Total number of records.</td>
    </tr>
    <tr>
      <td>items</td>
      <td>Array</td>
      <td>Array of table records.</td>
    </tr>
    <tr>
      <td>sort</td>
      <td>Object</td>
      <td>Object to set the default column for sorting.</td>
    </tr>
  </tbody>
</table>

<h3 id="column-template">Column Template</h3>
<p>Custom content or elements can be added to table columns.</p>

<ul>
  <li><code class="highlighter-rouge">&lt;c-column&gt;</code> - Column component for the table.</li>
  <li>Example:</li>
</ul>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>    <span class="nt">&lt;cuppa-datagrid</span> <span class="err">[</span><span class="na">datalist</span><span class="err">]</span> <span class="err">=</span> <span class="err">"</span><span class="na">arrayList</span><span class="err">"</span> <span class="err">[</span><span class="na">config</span><span class="err">]="</span><span class="na">config</span><span class="err">"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;c-column</span> <span class="na">field=</span><span class="s">"id"</span><span class="nt">&gt;&lt;/c-column&gt;</span>
          <span class="nt">&lt;c-column</span> <span class="na">field=</span><span class="s">"name"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;ng-template</span> <span class="na">let-person=</span><span class="s">"rowData"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;span&gt;&lt;/span&gt;</span>
            <span class="nt">&lt;/ng-template&gt;</span>
          <span class="nt">&lt;/c-column&gt;</span>
          <span class="nt">&lt;c-column</span> <span class="na">field=</span><span class="s">"mobile"</span><span class="nt">&gt;&lt;/c-column&gt;</span>
          <span class="nt">&lt;c-column&gt;</span>
            <span class="nt">&lt;ng-template</span> <span class="na">let-person=</span><span class="s">"rowData"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default btn-success"</span> <span class="err">(</span><span class="na">click</span><span class="err">)="</span><span class="na">getRowData</span><span class="err">(</span><span class="na">person</span><span class="err">)"</span><span class="nt">&gt;</span>Get Row<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/ng-template&gt;</span>
          <span class="nt">&lt;/c-column&gt;</span>
      <span class="nt">&lt;/cuppa-datagrid&gt;</span>
</code></pre>
</div>

<h3 id="heading-template">Heading Template</h3>
<p>The table heading can be customised with the <code class="highlighter-rouge">&lt;c-heading&gt;</code> tag. The following example show how to use a font awesome icon with text in the title section.
  -Example:</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>        <span class="nt">&lt;cuppa-datagrid</span> <span class="err">[</span><span class="na">datalist</span><span class="err">]</span> <span class="err">=</span> <span class="err">"</span><span class="na">arrayList</span><span class="err">"</span> <span class="err">[</span><span class="na">config</span><span class="err">]="</span><span class="na">config</span><span class="err">"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;c-heading&gt;</span>
            <span class="nt">&lt;ng-template&gt;</span> 
              <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"fa fa-list"</span><span class="nt">&gt;&lt;/span&gt;</span>
              <span class="nt">&lt;b&gt;</span>Heading Template<span class="nt">&lt;/b&gt;</span>
            <span class="nt">&lt;/ng-template&gt;</span>
          <span class="nt">&lt;/c-heading&gt;</span>
      <span class="nt">&lt;/cuppa-datagrid&gt;</span> 

</code></pre>
</div>

<h3 id="events">Events</h3>
<ul>
  <li>
    <p><code class="highlighter-rouge">onRowSelect</code> - Return the clicked row object.</p>

    <p>Example : (onRowSelect)=”onRowClick($event)”</p>
  </li>
</ul>

<p>Thats all Folks !! You are good to go.</p>

<p>Please raise any issues <a href="https://github.com/CuppaLabs/angular2-dataGrid/issues">here</a></p>

<p>To run the code and build in your local, follw the below steps</p>

<ul>
  <li>git clone <code class="highlighter-rouge">https://github.com/CuppaLabs/angular2-dataGrid.git</code></li>
  <li>npm install</li>
  <li>ng serve</li>
  <li>Go to <code class="highlighter-rouge">http://localhost:4200</code> where your app will run.</li>
</ul>

<h2 id="licence">Licence</h2>

<p>This project is licensed under the MIT license. See the <a href="LICENSE">LICENSE</a> file for more info.</p>

<p>–</p>

<p>The MIT License (MIT)
Copyright (c) 2016 Cuppa Labs</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the “Software”), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>

<h2 id="author">Author</h2>
<p>Pradeep Kumar Terli  @ <a href="http://www.cuppalabs.com">Cuppa Labs</a></p>


          </div>
          <!--/row-->
          <div class="comments-section">

            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "/components/datatable/";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "Angular 2 Data Table"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//cuppalabs.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>

          </div>
        </div>
      </div>

    </div>
    <!--/span-->
    <div class="col d-none d-md-block sidebar ad-sidebar">
      <div class="row component-headline">
    <div class="col-md-12 stats-section">
        <div class="navbar">
            <div class="col">
                <i class="fa fa-download"></i>
                <div class="mr-md-auto component-title">
                    <h4 id="cuppa-ng2-grid"><img style="width:45px;" src="/img/ezgif.gif" /></h4>
                    <small>Downloads</small>
                </div>
            </div>
            <div class="col">
                <a href="#" class="nav-item nav-link author-button" id="userPopover">
                <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="avatar-img img-me"> 
                <div class="mini-details">
                <small>Author</small>
                <label>Pradeep Terli</label>
                </div>
            </a>
            </div>
        </div>
    </div>

</div>
<span style="display: none;">
<div id="authorCard">
<div class="card bg-default mb-3 user-card" style="max-width: 20rem;">
             <div class="card-header"></div>
            <div class="card-body">
              <img src="http://cuppalabs.github.io/img/pradeep.jpg" alt="" class="img-me">
              <h5 class="card-title">Pradeep Kumar Terli</h5>
              <p class="card-text">
                Web UI Developer, Blogger, Thinker, Entrepreneur
              </p>
              <nav class="nav">
                <a class="nav-link active" href="https://www.facebook.com/pradeepkumar.terli">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-link" href="https://twitter.com/PradeepTerli">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="nav-link" href="https://github.com/CuppaLabs">
                  <i class="fa fa-github"></i>
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/pradeep-kumar-terli">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="nav-link" href="https://plus.google.com/102171107795347642020">
                  <i class="fa fa-google-plus"></i>
                </a>
              </nav>
            </div>
          </div>
          </div>
</span>
      <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pradeepterli_sidebar_AdSense1_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="2263435109"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>


<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-md-12">
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-two -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4525567075133342"
     data-ad-slot="8850561506"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
    </div>
    <script>
  $(function() {
    var currentTime = toJSONLocal(new Date);
  $.ajax({
  method: "GET",
  url: "https://npm-stat.com/downloads/range/2017-01-15:"+currentTime+"/cuppa-ng2-grid"
})
  .done(function( data ) {
    var total = 0;
    $.each(data.downloads, function(key, obj){
      total += obj.downloads
    });
    $("#cuppa-ng2-grid").empty().html(numberWithCommas(total));
  });
  });


</script>
<script>
  $(function () {
    var options = {
    html: true,
    placement: 'bottom',
    trigger: 'click',
    content: function (){
      return $('#authorCard').html();
    }

  };
  $('#userPopover').popover(options)
})
  </script>
    <!--/span-->
  </div>
  <!--/row-->

  <footer class="footer">
    <p>© 2009-2017 &nbsp <a href="https://cuppalabs.github.io" style="color: #fff;font-size: 16px;">Cuppa Labs</a> &nbsp <b>Made in India</b>.
      All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
    $(function () {
      return $(".component-article h1, .component-article h2, .component-article h3, .component-article h4, .component-article h5, .component-article h6").each(function (i, el) {
        var $el, icon, id, val;
        $el = $(el);
        val = $(el).html().split(' ').join('-');
        id = $el.attr('id', val);
        if (id) {
          return $el;
        }
      });
    });
    $(function () {
      return $("#navbar-example2 > a").each(function (i, el) {
        var $el, icon, id, val;
        $el = $(el);
        val = '#' + $(el).html().split(' ').join('-');
        id = $el.attr('href', val);
        if (id) {
          return $el;
        }
      });
    });
    $(function () {
      return $("table").each(function (i, el) {
        var $el, icon, id;
        $el = $(el);
        $el.addClass('table table-bordered table-responsive');
      });
    });
    function toJSONLocal(date) {
      var local = new Date(date);
      local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    }
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  </script>
  <script>
    (function (i, s, o, g, r, a, m) {    
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93566400-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="https://js.instamojo.com/v1/button.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <script>
    paypal.Button.render({

      env: 'production', // sandbox | production

      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create
      client: {
        sandbox:'ASrA_m_vzFgS5z-H54iD_PTYGhKj_kRB5soHsPcnq_n6Qv1bLpr5MWxSmmS8kZUlmtPTRPVYSC6ZD6Fe',
        production: 'AWq8LJAEPvVwLwHU46JUHWyGCr5MvmmXLFFD1tE6u6XkiTp-wjfqbrGhS7GYLm9tQTJKuqwlQF42byo-'
      },
      style: {
        size: 'responsive',
        color: 'blue',
        label: 'pay'
      },

      // Show the buyer a 'Pay Now' button in the checkout flow
      commit: true,

      // payment() is called when the button is clicked
      payment: function (data, actions) {
        var amount = document.getElementById("donateamount").value;
        var currency = document.getElementById("donatecurrency").value;
        // Make a call to the REST api to create the payment
        if (amount == null || currency == null) {
          return false;
        }
        return actions.payment.create({
          payment: {
            transactions: [
              {
                amount: { total: amount, currency: currency }
              }
            ]
          }
        });
      },

      // onAuthorize() is called when the buyer approves the payment
      onAuthorize: function (data, actions) {

        // Make a call to the REST api to execute the payment
        return actions.payment.execute().then(function () {
          $('#successMsg').show();
        });
      }

    }, '#paypal-button');
  </script>
  <script>
    document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'complete') {
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
  }
}
    $(document).ready(function () {
      $.getJSON('https://freegeoip.net/json/', function (result) {
        if (result.country_code === "IN") {
          $("#paypal-form").hide();
          $('.im-checkout > a').attr("class","");
          $('.im-checkout > a').attr("class","btn btn-primary donation-button");
          $(".im-checkout").show();
        }
        else{
          $("#paypal-form").show();
          $(".im-checkout").hide();
        }
      });
      $('#exampleModalLong').on('hidden.bs.modal', function (e) {
        document.getElementById("donateamount").value = '';
        $('#successMsg').hide();
});
    });
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4525567075133342",
    enable_page_level_ads: true
  });
</script>
</body>

</html>